body{
  background-color:rgb(118, 110, 126);
}
h1 {
  color : white;
 
}

.container{
  background-color:black;
  margin-top: 20px;

}

#ui label{
  color: white;
  background-color: black;
 
}






